.row.proximos-viajes
         each uno in viajes
          .col-md-6.col-lg-4.mb-4
           .card
            img(src=`img/destinos_${uno.imagen}.jpg`, class="img-fluid")
            .card-body
                h2 #{uno.titulo}
                p
                 i.fas.fa-calendar-alt.align-bottom.mr-2
                 | #{uno.fecha_ida} - #{uno.fecha_vuelta}
                p
                 i.fas.fa-dollar-sign.align-bottom.mr-2
                 | #{uno.precio}
                p= uno.descripcion.substr(0,100)
                a(href=`viajes/${uno.id}`, class="btn btn-success btn-block") Mas Información